alias aliasconfig="phpstorm ~/.aliases"
alias ls="ll"

#dotfile git
alias dotfile='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'

#ssh pb_key
alias pbkey='pbcopy < ~/.ssh/id_rsa.pub'

#laravel artisan
alias artisan='php artisan'

#python
alias py='python3'
alias python='python3'
alias pip='pip3'

#mamp
#go to mamp log folder
alias mamp-error='phpstorm /Applications/MAMP/logs'

#clear mamp log file 
alias mamp-error-clear='cd /Applications/MAMP/logs && for file in *.log; do "" > $file; done'
